#c92-chat, #c92-chat-nojs {
    position:fixed;
    bottom: 0;
    right: 0;
    width: 100%;
    max-width: 300px;
    min-width: 100px;
    background-color: #510c76;
	z-index: 999999;
}



#c92-chat > div:first-child > a, #c92-chat-nojs > a {
    color: white;
    width: 100%;
    font-family: truenolight,Arial,sans-serif;
    font-weight: bold;
    font-size: 16px !important; /* px for consistancy across sites with varying inititial font sizes */
	background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAJ9JREFUeNq81GENgCAQgFExARGMcFGMYDMiGMUKNrCB57GBoiByHJPt+yHTt2NOFSJ2LZdKgtfeQK15Qd0u+8ythlooYI1oJ4zad9tCIbVR4PbiHs/mQF2EMsAylAl61LyiFaAvRKcWYIjiiQpB2xygoxQEd2R0L0tLwBgTHDmNVYLvWAUYYkb6pYyfGAPURRhzQvjEEqD6548tWIcAAwDCTLmNG9uYiwAAAABJRU5ErkJggg==");
	background-repeat: no-repeat;
	background-position: 2px center;
	padding-left: 32px; /* px for consistancy across sites with varying inititial font sizes */
} 

#c92-chat > div:first-child > a {
	text-decoration: none;
}

#c92-chat.expanded > div:first-child > a {
    color: white;
    width: 100%;
    font-family: truenolight,Arial,sans-serif;
    font-weight: bold;
    font-size: 16px !important; /* px for consistancy across sites with varying inititial font sizes */
	background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAAZdEVYdFNvZnR3YXJlAEFkb2JlIEltYWdlUmVhZHlxyWU8AAAAsElEQVQ4T+2U0RGDIBBEwQosISVYgiVYgp1ZgunEElJCrEDcPeOEICdM9E935g2g8OZQ0TrnzJkpPu1puaDw+1KWtgQjO3/F2p8KK/ACjYzywgIG0MmIYYXCNHXAgTeoAK/tUYIBrGsesltPSHKloWyZGxGSHGl8jiLUF6Tu7QjJdkup6hPC8Dn1Xn8rIwkh8aUrLYjNzRISX6rLCDzhSdHCD7gGTxlpwUm5/4dHY8wMAG0aKiRjanIAAAAASUVORK5CYII=");
	background-repeat: no-repeat;
	background-position: 2px center;
	padding-left: 32px; /* px for consistancy across sites with varying inititial font sizes */
} 


#c92-chat > div:first-child {
    padding: 10px; /* px for consistancy across sites with varying inititial font sizes */
} 

#c92-chat > div:last-child {
    background-color: white;
    width: 100%;
    padding: 5px; /* px for consistancy across sites with varying inititial font sizes */
}

#c92-chat.expanded > div:last-child {
    display: block;
    max-height: 500px; 
	min-height: 100px;
    background-color: #98999b;         
    overflow-y: hidden;
    -webkit-transition: max-height .5s ease-in;
    -moz-transition: max-height .5s ease-in;
    -o-transition: max-height .5s ease-in;
    transition: max-height .5s ease-in;
}

#c92-chat.collapsed > div:last-child {
    max-height: 0px;
    padding: 0px;
    margin-top: 0px;
    overflow-y: hidden;
	overflow-x: hidden;
    -webkit-transition: max-height .2s ease-out;
    -moz-transition: max-height .2s ease-out;
    -o-transition: max-height .2s ease-out;
    transition: max-height .2s ease-out;
}

#c92-chat div.notavailable {
	border: 0px none;
	box-sizing: border-box;
	width: 100%;
	height: 340px;
}

#c92-chat div.notavailable > iframe {
	border: 0px none;
	box-sizing: border-box;
	width: 100%;
	height: 340px;
	background-color: rgb(249, 249, 249);
	margin:0px;
}

#c92-chat div.c92btnwrap {
	width: 100%;
	height: 100px;
	background-color: white;
	padding-top: 20px;
	padding-left: 20px;
}

/* ASK MN */
#qpchatwidget { display: block; clear: both; width: 100%; min-height: 350px; }
#qpchatwidget iframe { height: 200px; width: 100%; }
.chat-widget { display: block; clear: both; }

/*



SIDE:
data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAJ9JREFUeNq81GENgCAQgFExARGMcFGMYDMiGMUKNrCB57GBoiByHJPt+yHTt2NOFSJ2LZdKgtfeQK15Qd0u+8ythlooYI1oJ4zad9tCIbVR4PbiHs/mQF2EMsAylAl61LyiFaAvRKcWYIjiiQpB2xygoxQEd2R0L0tLwBgTHDmNVYLvWAUYYkb6pYyfGAPURRhzQvjEEqD6548tWIcAAwDCTLmNG9uYiwAAAABJRU5ErkJggg==

UP:


DOWN:
data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAAZdEVYdFNvZnR3YXJlAEFkb2JlIEltYWdlUmVhZHlxyWU8AAAAsElEQVQ4T+2U0RGDIBBEwQosISVYgiVYgp1ZgunEElJCrEDcPeOEICdM9E935g2g8OZQ0TrnzJkpPu1puaDw+1KWtgQjO3/F2p8KK/ACjYzywgIG0MmIYYXCNHXAgTeoAK/tUYIBrGsesltPSHKloWyZGxGSHGl8jiLUF6Tu7QjJdkup6hPC8Dn1Xn8rIwkh8aUrLYjNzRISX6rLCDzhSdHCD7gGTxlpwUm5/4dHY8wMAG0aKiRjanIAAAAASUVORK5CYII=
*/
